<h1><%= @article.title %></h1>
<h3><%= @article.content %></h3>
<p><%= link_to "Go back to the overview", articles_path %></p>
<p><%= link_to "Edit this article", edit_article_path(@article) %></p>
<p><%= link_to "Delete this article", article_path(@article), method: :delete, data: {confirm: "Delete this article?" } %></p>

